#
# Copyright (C) 2009 Chris McClelland
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#NET "clk50"       LOC = "T9";  # Integral 50MHz clock
NET "reset"       LOC = "L14";

# PortB
NET "fd<0>"       LOC = "E6"  | IOSTANDARD=LVCMOS33;   # PB0
NET "fd<1>"       LOC = "D5"  | IOSTANDARD=LVCMOS33;   # PB1
NET "fd<2>"       LOC = "C5"  | IOSTANDARD=LVCMOS33;   # PB2
NET "fd<3>"       LOC = "D6"  | IOSTANDARD=LVCMOS33;   # PB3
NET "fd<4>"       LOC = "C6"  | IOSTANDARD=LVCMOS33;   # PB4
NET "fd<5>"       LOC = "E7"  | IOSTANDARD=LVCMOS33;   # PB5
NET "fd<6>"       LOC = "C7"  | IOSTANDARD=LVCMOS33;   # PB6
NET "fd<7>"       LOC = "D7"  | IOSTANDARD=LVCMOS33;   # PB7

NET "flagA"       LOC = "C8"  | IOSTANDARD=LVCMOS33;
NET "flagB"       LOC = "D8"  | IOSTANDARD=LVCMOS33;
NET "ifclk"       LOC = "C9"  | IOSTANDARD=LVCMOS33;
NET "gotData"     LOC = "D10" | IOSTANDARD=LVCMOS33;   # FLAGC

# PortA
NET "int0"        LOC = "A3"  | IOSTANDARD=LVCMOS33;   # PA0
NET "int1"        LOC = "B4"  | IOSTANDARD=LVCMOS33;   # PA1
NET "sloe"        LOC = "A4"  | IOSTANDARD=LVCMOS33;   # PA2
NET "pa3"         LOC = "B5"  | IOSTANDARD=LVCMOS33;   # PA3
NET "fifoAddr<0>" LOC = "A5"  | IOSTANDARD=LVCMOS33;   # PA4
NET "fifoAddr<1>" LOC = "B6"  | IOSTANDARD=LVCMOS33;   # PA5
NET "pktEnd"      LOC = "B7"  | IOSTANDARD=LVCMOS33;   # PA6
NET "pa7"         LOC = "A7"  | IOSTANDARD=LVCMOS33;   # PA7

NET "clkout"      LOC = "B8"  | IOSTANDARD=LVCMOS33;

# PortD
NET "pd<0>"       LOC = "A8"  | IOSTANDARD=LVCMOS33;   # PD0
NET "pd<1>"       LOC = "A9"  | IOSTANDARD=LVCMOS33;   # PD1
NET "pd<2>"       LOC = "B10" | IOSTANDARD=LVCMOS33;   # PD2
NET "pd<3>"       LOC = "A10" | IOSTANDARD=LVCMOS33;   # PD3
NET "pd<4>"       LOC = "B11" | IOSTANDARD=LVCMOS33;   # PD4
NET "pd<5>"       LOC = "B12" | IOSTANDARD=LVCMOS33;   # PD5
NET "pd<6>"       LOC = "A12" | IOSTANDARD=LVCMOS33;   # PD6
NET "pd<7>"       LOC = "B13" | IOSTANDARD=LVCMOS33;   # PD7

NET "slrd"        LOC = "A13" | IOSTANDARD=LVCMOS33;
NET "slwr"        LOC = "B14" | IOSTANDARD=LVCMOS33;

# On-board peripheral signals
NET "led_out<0>" LOC = "K12";
NET "led_out<1>" LOC = "P14";
NET "led_out<2>" LOC = "L12";
NET "led_out<3>" LOC = "N14";
NET "led_out<4>" LOC = "P13";
NET "led_out<5>" LOC = "N12";
NET "led_out<6>" LOC = "P12";
NET "led_out<7>" LOC = "P11";

NET "anode<0>"  LOC = "D14";
NET "anode<1>"  LOC = "G14";
NET "anode<2>"  LOC = "F14";
NET "anode<3>"  LOC = "E13";

NET "sseg<7>"  LOC = "P16"; # dicimal point
NET "sseg<6>"  LOC = "E14"; # segment a
NET "sseg<5>"  LOC = "G13"; # segment b
NET "sseg<4>"  LOC = "N15"; # segment c
NET "sseg<3>"  LOC = "P15"; # segment d
NET "sseg<2>"  LOC = "R16"; # segment e
NET "sseg<1>"  LOC = "F13"; # segment f 
NET "sseg<0>"  LOC = "N16"; # segment g 

NET "sw<0>"  LOC = "F12";
NET "sw<1>"  LOC = "G12";
NET "sw<2>"  LOC = "H14";

#========================================================
# Timing constraint of S3 50-MHz onboard oscillator
# name of the clock signal is clk
#========================================================
NET "ifclk" TNM_NET = "ifclk";
TIMESPEC "TS_clk" = PERIOD "ifclk" 20 ns HIGH 50 %;